<h2>Login</h2>
<form method="post" action="/login">
  <label for="email">Email:</label>
  <input name="email" type="text" />

  <label for="password">Password:</label>
  <input name="password" type="password" />

  <input value="Login" type="submit" />
</form>
